.busqueda__div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.busqueda__div-input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    border-radius: 25px;
    margin-right: 0.5em;
    width: 40em;
    height: 2.5em;
    border: 2px solid #ddd;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    padding: 0 1.5em;
}

.busqueda__div-input:focus {
    border-color: #6C2FED;
    background-color: #fff;
}

.busqueda__div-input::placeholder {
    color: #999;
    opacity: 0.7;
}

.busqueda__icon {
    color: #6C2FED;
    font-size: 1.2em;
    margin-left: -2.5em;
}

.cargando__gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cargando__gif {
    width: 150px;
    height: auto;
    animation: girar 2s infinite linear;
}


.peliculas__section {
    padding: 2em;
}

.peliculas__section-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.peliculas__section-h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.peliculas__div-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    margin: 1em;
    padding: 1em;
}

.peliculas__div-img {
    width: 17em;
    border-radius: 0.5em;
}

.peliculas__div-h2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-align: center;
}

.peliculas__div-p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 0.9em;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 1em;
}

.peliculas__div-button {
    margin-bottom: 1em;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 3em;
    background-color: #2E1465;
    border-color: #6C2FED;
    color: #fff;
    height: 2em;
    padding: 0 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.peliculas__div-button:hover {
    background-color: #6C2FED;
}

.res-bus {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .busqueda__div-input {
        width: 20em;
        height: 2em;
    }

    .busqueda__icon {
        font-size: 1em;
        margin-left: -2em;
    }

    .peliculas__div-article {
        width: 100%;
        margin: 0.5em;
    }
}